<div class="container">
    <a class="btn btn-primary mb-3" [routerLink]="['/dogs/']">Back</a>
    <div class="row">
        <div class="col-6">
            <img style="width: 100%; height: 100%; margin-bottom: 30px;" src="{{dog.image_url}}" alt="">
        </div>
        <div class="col-6">
            <div class="justify-content-cente align-middle">
                <h5 class="card-title mb-2">{{dog.name}}</h5>
                <p class="card-text"><b>Bred For:</b> {{dog.bred_for}}</p>
                <p class="card-text"><b>Breed Group:</b> {{dog.breed_group}}</p>
                <p class="card-text"><b>Life Span:</b> {{dog.life_span}}</p>
                <p class="card-text"><b>Temperament:</b> {{dog.temperament}}</p>
                <p class="card-text" *ngIf="dog.origin"><b>Origin:</b> {{dog.origin}}</p>
            </div>
        </div>
    </div>
</div>